<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div>
    <h3>Create new client</h3>
    <form method="post">
        <input type="text" name="login" placeholder="Enter login">
        <input type="text" name="password" placeholder="Enter password">
        <input type="text" name="full_name" placeholder="Enter full name">
        <input type="radio" name="sex" value="male" checked>Male
        <input type="radio" name="sex" value="female">Female
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Create client</button>
    </form>
</div>
<h1>Clients</h1>
{{#clients}}
    <div>
        {{full_name}}
        <a href="/clients/show?id={{id}}">Show</a>
        <a href="/clients/edit?id={{id}}">Edit</a>
        <a href="/clients/delete?id={{id}}">Delete</a>
    </div>
{{/clients}}
<div><a href="/">Main Menu</a> </div>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
