<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div>
    <h3>Edit client</h3>
    <form method="post">
        <input type="text" name="login" placeholder="Enter login">
        <input type="text" name="password" placeholder="Enter password">
        <input type="text" name="full_name" placeholder="Enter full name">
        <input type="radio" name="sex" value="male" checked>Male
        <input type="radio" name="sex" value="female">Female
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Create client</button>
    </form>
</div>
<div><a href="/clients">Go Back</a></div>
</body>
</html>