<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    {{#client}}
        <table>
            <th>Login</th>
            <th>Password</th>
            <th>Full Name</th>
            <th>Sex</th>
            <tr>
                <td>{{login}}</td>
                <td>{{password}}</td>
                <td>{{full_name}}</td>
                <td>{{sex}}</td>
            </tr>
        </table>
    {{/client}}
    <div></div><a href="/clients">Go Back</a></div>
</body>
</html>