<!DOCTYPE HTML>
<html>
<head>
    <title>Tickets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Tickets</h1>
<h3><a href="/tickets/new">Add new ticket</a></h3>
<p>iтерация массива клиентов</p>
    <a href="/tickets/№/delete">Delete</a>
</body>
</html>